<?php

$config = [
    // ---> Digital Ocean API Token
    'do_api_token' => 'a123b45c12a123b45c12a123b45c12a123b45c12',

    'logfile' => __DIR__ . '/log/logfile.log',

    'keep-snapshots' => 3,

    //
    // ---> Droplets to create snapshots from
    //
    'droplets' => [
         [
            'name' => 'prod-mongo-db',
            'copy-to-regions' => ['sfo2', 'nyc2']
         ],
     ],

];

