<?php

$config = [
    // ---> Digital Ocean API Token
    'do_api_token' => 'ssssssssssssssssssssssssss',

    'logfile' => __DIR__ . '/log/logfile.log',

    //
    // ---> Droplets to create snapshots from
    //
    'droplets' => [
         [
            'name' => 'prod-mongo-db',
            'keep-snapshots' => 3,
            'copy-to-regions' => ['sfo2', 'nyc2']
         ],
     ],

];